body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#logo {
    color: #CFB38A;
    font-size: 20pt;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
}

#logo img {
    width: 100px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.575);
}

#nav-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    align-items: center;
    padding: 10px 10px;
}

#nav-links a {
    text-decoration: none;
    color: white;
    /* text-transform: uppercase; */
}

#nav-links a:hover{
    color:#CFB38A;
}

#nav-sm {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
}

#nav-sm a:hover {
    color: white;
}

.sm-links {
    color: #CFB38A;
}

header {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    height: 100vh;
}

#hero-text {
    text-align: center;
    color: white;
    padding-top: 10rem;
}

#hero-text h3 {
    font-size: 15px;
}

#hero-text h1 {
    font-size: 50px;
}

.star {
    color: #CFB38A;
}

#hero-btn {
    display: inline-block;
    background-color: #CFB38A;
    color: #333;
    padding: 0.8rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#hero-btn a {
    text-decoration: none;
    color: white;
}

#hero-btn:hover {
    background-color: #27220e;
}


#rooms-icon img{
    display: block;
    width: 60px;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
}

#rooms-text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rooms-text h2 {
    font-size: 30px;
}

#rooms-text p {
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;
}
.room-prices {
    width: 85%;
}
.room-prices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
}

.room-images {
    flex: 1;
    margin: 10px;
}

.room-images img {
    max-width: 100%;
    height: auto;
}

.room-images h3 {
    text-transform: uppercase;
    color: #C7A676;
    /* color: #1E1E1E; */
    font-size: 15px;
}

.prices-btn {
    border-style: none;
    background-color: #C7A676;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

.prices-btn a {
    text-decoration: none;
    color: white;
}

.facility-icon img{
    padding-top: 20px;
}

#facilities {
    margin-top: -20px;
    background: #1e1e1e;
    color: #fff;
}
.facilities-text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.facilities-text h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

/* .facilities-text p {
    font-size: 15px;
    margin-bottom: 100px;
} */

.facilities-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.facility-item {
    background: #333;
    border-radius: 5px;
    padding: 1rem;
    width: 125px;
    text-align: center;
    margin-bottom: 10rem;
}


 .manager {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: auto;
    background-color: #F7F6F4;
}

.manager-text {
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.manager-text h4 {
    color: #C7A676;
    font-weight: lighter;
}

.manager-text h2 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.manager-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}

.manager-text span {
    color: #C7A676;
}

.manager-image img {
    padding-top: 20px;
    border-radius: 50px;
}

.manager-image h5 {
    color: rgba(0, 0, 0, 0.712);
}